<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pokemon_integration>
            <general>
                <api_url>https://pokeapi.co/api/v2/pokemon/</api_url>
                <main_image>front_default</main_image>
                <additional_images>back_default</additional_images>
            </general>
            <cache>
                <lifetime>86400</lifetime>
                <warmer_enabled>0</warmer_enabled>
            </cache>
        </pokemon_integration>
    </default>
</config>
